{{- $cover := strings.TrimSpace (.cover | default "") -}}
{{- if $cover -}}
  {{- $src := $cover -}}
  {{- if not (or (hasPrefix $src "http://") (hasPrefix $src "https://") (hasPrefix $src "//")) -}}
    {{- $src = $src | relURL -}}
  {{- end -}}
  {{- $lower := lower $cover -}}
  {{- $isVideo := or (hasSuffix $lower ".mp4") (hasSuffix $lower ".webm") (hasSuffix $lower ".ogg") -}}
  {{- $coverClass := .coverClass | default "sakura-page-header__cover" -}}
  {{- $loading := .loading | default "lazy" -}}
  {{- if $isVideo -}}
  <video
    class="{{ $coverClass }}"
    src="{{ $src }}"
    autoplay
    muted
    loop
    playsinline
    disablepictureinpicture
    aria-hidden="true"
  ></video>
  {{- else -}}
  <img
    class="sakura-lazy-img {{ $coverClass }}"
    src="{{ $src }}"
    alt="{{ .title | default "" }}"
    loading="{{ $loading }}"
    decoding="async"
  >
  {{- end -}}
{{- end -}}
