<div class="mashiro-search" id="search-modal" hidden style="--sakura-search-bg-img: url('{{ "img/iloli.gif" | relURL }}')">
  <div class="mashiro-search-container">
    <p>想要找点什么呢？</p>
    <div class="mashiro-search-input-wrap">
      <iconify-icon icon="fa6-solid:magnifying-glass" class="mashiro-search-input-icon" aria-hidden="true"></iconify-icon>
      <input id="search-modal-input" class="mashiro-search-input" type="search" placeholder="输入关键词后回车搜索..." autocomplete="off">
    </div>
  </div>
</div>
